.grid {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
  padding: 0 20px;
}

.grid h5 {
  font-size: 1.7rem;
  margin-top: 3rem;
  color: var(--white);
}
.grid-movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 2rem;
}

.grid img {
  width: 100%;
  max-width: 700px;
  transition: all 0.3s;
  object-fit: cover;
  border-radius: 20px;
  height: max-content;
  cursor: pointer;
}

.grid img:hover {
  opacity: 0.5;
}
